<div class="container finalesfelices-container mt-5">
  @if (gatosAdoptados.length > 0) {
    <p class="text-center">¡Nos llena de alegría haber podido inaugurar esta sección tan feliz!</p>
    <p class="text-center">
      Aquí puedes ver a los supergatitos que han encontrado un hogar. No ha sido nada fácil,
      pero ha merecido la pena haber podido acompañarlos a ellos y a vosotros hasta aquí.
      Sólo esperamos que esta sección crezca más y más.
    </p>

    <p class="text-center">¡Gracias por darles una segunda oportunidad! ♥️</p>
    <br>

    <div class="row justify-content-center">
      @for (gato of gatosAdoptados; track gato._id) {
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
          <div class="gato-final-card position-relative text-center">
            <div class="adoptado-medalla">ADOPTADO</div>
            <img [src]="gato.imagen" alt="{{ gato.nombre }}" class="gato-final-img mb-3">
            <h4 class="gato-nombre">{{ gato.nombre | titlecase }}</h4>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="alert alert-light text-center p-4 mt-4 border rounded shadow-sm">
      <h5 class="mb-3">¡Todavía no hay finales felices registrados! 😿</h5>
      <p>
        Ojalá dentro de poco podamos actualizar esta sección. Significará que alguno de nuestros supergatitos ha encontrado un hogar maravilloso.
      </p>
    </div>
  }
</div>
