<div class="container mt-5">
  <p class="text-center">
    <br>Este catálogo muestra productos disponibles para la venta a través de nuestro perfil de
    <a href="https://www.instagram.com/supergatitos_callejeros" target="_blank" rel="noopener noreferrer" class="enlace-invisible">
      <strong>Instagram</strong>
    </a>
    <br>Si te interesa alguno, puedes enviarnos un mensaje directo para consultar precio (los que aparecen aquí son orientativos), disponibilidad o hacer tu pedido.
    <br>
    Cada compra es un granito de arena que nos ayuda a seguir cuidando, alimentando y salvando vidas felinas. ¡Gracias por apoyar esta causa!
    <br><br>
  </p>

  @if (articulos.length > 0) {
    <div class="row justify-content-center">
      @for (articulo of articulos; track articulo._id) {
        <div class="col-xl-3 col-md-4 mb-4 d-flex">
          <div class="card flex-fill d-flex flex-column">
            <img [src]="articulo.imagen | imageUrl" class="card-img-top" [alt]="articulo.nombre">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h5 class="card-title">{{ articulo.nombre }}</h5>
                <p class="card-text">{{ articulo.descripcion }}</p>
              </div>
              <div>
                <p class="articulo-precio">{{ articulo.precio }}</p>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="alert alert-light text-center mt-4 p-4 border rounded shadow-sm">
      <h5 class="mb-3">Ahora mismo no tenemos artículos solidarios disponibles.</h5>
      <p>Vuelve pronto, ¡estamos preparando nuevos artículos para ayudar a los supergatitos!</p>
    </div>
  }
</div>
