.voluntariado-container {
  max-width: 1000px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  }
  
  .voluntariado-text {
    margin-bottom: 20px;
    text-align: center;
  }

  .custom-input:focus {
    border-color: #c5c0c0 !important;
    box-shadow: 0 0 10px #95AE84 !important;
  }

  .custom-btn {
    background-color: #95AE84;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
  }

  .custom-btn:hover {
    background-color: #c5c0c0;
  }
  
  @media (max-width: 768px) {
    .voluntariado-container .row {
      flex-direction: column;
    }
  }