<nav class="navbar navbar-expand-lg custom-navbar rounded-nav">
    <div class="container d-flex justify-content-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item"><a class="nav-link" routerLink="/inicio" routerLinkActive="active" (click)="cerrarNavbar()">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/gatos" routerLinkActive="active" (click)="cerrarNavbar()">Gatos</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/historia" routerLinkActive="active" (click)="cerrarNavbar()">Historia</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/noticias" routerLinkActive="active" (click)="cerrarNavbar()">Noticias</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/adoptaacoge" routerLinkActive="active" (click)="cerrarNavbar()">Adopciones/Acogidas</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/finalesfelices" routerLinkActive="active" (click)="cerrarNavbar()">Adoptados</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/colabora" routerLinkActive="active" (click)="cerrarNavbar()">Colabora</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contacto" routerLinkActive="active" (click)="cerrarNavbar()">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>