<div class="container mt-5 historia-container">
    <div class="row align-items-center">
  
      <!-- Imagen a la izquierda -->
      <div class="col-md-6 text-center text-md-start">
        <img src="assets/historia.png" alt="Historia de la colonia" class="img-fluid historia-img">
      </div>
  
      <!-- Texto a la derecha -->
      <div class="col-md-6 d-flex align-items-center">
        <div class="historia-text">
          <p>¡Hola!</p>
          <p>Mi nombre es Fanny, aunque por aquí soy <br><strong>“La humana de la mochila”</strong>.</p>
          <p>Esta maravillosa colonia felina, formada actualmente por 32 gatos, apareció en mi vida en septiembre de 2023, pocos meses después de la pérdida de mi gato Pituso.</p>
          <p>Me gusta pensar que él los puso en mi camino para ayudarme a superar su pérdida y devolverme la sonrisa. Desde entonces, todos ellos se han convertido en parte de mi familia.</p>
          <p>Son unos gatitos muy especiales para mí, así que mi objetivo es que nunca les falte de nada. Que, a pesar de vivir en la calle, sean felices.</p>
          <p>Ellos aparecieron en un momento muy duro de mi vida, me ayudaron a sanar y hacen que cada día sea un motivo para sonreír.</p>
          <p><strong>¿Nos acompañas en esta aventura?</strong></p>
        </div>
      </div>
  
    </div>
  </div>
  