.historia-container {
    max-width: 900px;
    margin: auto;
    padding-top: 30px;
  }
  
.historia-img {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

.historia-text {
  padding: 10px 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .historia-img {
    margin-bottom: 20px;
  }
}
  